# Explicitly specify the Node.js provider to ensure npm is available
providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.build]
cmds = ["npm ci", "npm run build"]

[start]
cmd = "npx serve dist -s -l $PORT"
