[build]
builder = "DOCKERFILE"
dockerfilePath = "web/Dockerfile"
watchPatterns = ["web/**"]

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 30
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
